<div id="body">
    <h1><span>respond to contact request</span></h1>
    <form action="<%=`/contact/${contact._id}/update?_method=PUT`%>" method="POST">
        <div class="disabled">
            <input type="text" name="name" id="fname" placeholder="name" disabled="disabled" value="<%= contact.name %>">
            <input type="text" name="address" id="address" placeholder="address" disabled="disabled" value="<%= contact.address %>">
            <input type="email" name="email" id="email" placeholder="email" disabled="disabled" value="<%= contact.email %>">
            <input type="tel" name="phone" id="phone" placeholder="phone number (XXX-XXX-XXXX)"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" disabled="disabled" value="<%= contact.phone %>">
            <textarea name="message" id="message" placeholder="message" required disabled="disabled"><%= contact.message %>
            </textarea>
            <hr />
        </div>
        <textarea name="response" id="response" placeholder="RESPONSE" required></textarea>
        <input type="hidden" name="id" id="id" value="23598798797235">
    
        <input type="submit" name="send" id="send" value="send">
        <a href="/contact-list" name="cancel" id="cancel">cancel</a>
    </form>
</div>